<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="home.css">
    <link href='https://fonts.googleapis.com/css?family=Manrope' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <h1>The best way to <br> learn is to do!</h1>
        <div class="button">
            <button id="welcomeButton" type="submit">Click here</button>
        </div>
    </div>
<script src="script.js"></script>
</body>
</html>